<!DOCTYPE html>
<html class="no-js not-ready">
  <head>
    <meta charset="utf-8" />
    <title>Skeleton App</title>
    <link href="/assets/<%= assets['iugu-ux.css'].digest_path %>" rel="stylesheet" type="text/css" />
    <link href="/assets/<%= assets['application.css'].digest_path %>" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/<%= assets['vendor.js'].digest_path %>"></script>
    <script type="text/javascript" src="/assets/<%= assets['iugu-ux.js'].digest_path %>"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-status-bar-style" content="black" />
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="MobileOptimized" content="320" />
  </head>
  <body class="iugu-ui">
    <noscript>
      <div class="js-warning"></div>
    </noscript>
    <div id="app"></div>
    <script type="text/javascript">
      (function() { $(function() {
      if (typeof(run_webapp) == 'function') return run_webapp(true);
      });
      }).call(this);
    </script>
  </body>
</html>
